$mediumgray: #afafaf;

body {
  background: black;
  position:relative;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $mediumgray;
  width: 400px;
  gap: 20px;

  h1 {
    text-align: center;
    color: black;
  }

  button {
    padding: 10px;
    border: none;
    color: $mediumgray;
    background-color: black;
    cursor: pointer;
  }

  div {
    text-align: center;
  }

  input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
  }

  p {
    font-size: 15px;
    text-align: center;
  }

  select {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
  }

  span {
    font-size: 15px;
    text-align: center;
  }

  textarea {
    height:20vh;
  }

}

h1 {
  color:$mediumgray;
  margin-bottom:20px;
}

.btn-link {
  color:$mediumgray;
  text-decoration: none;
  --bs-btn-hover-color: lightgray;
}

.content_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-color: black;
} 

.blogEntryPreview {
  text-decoration: none;
  color: black;
} 

.view {
  display: flex;
  gap: 50px;

  .content {
    flex: 5;
  }
  .menu {
    flex: 2;
  }
}
